body {
    margin : 0;
}
 /* ============== FUNDO ========================== */
header {
  background-image: 
    linear-gradient(
    to bottom,              /* direção: de cima para baixo */
      rgba(0, 0, 0, 0.8) 1%,
      rgba(0, 0, 0, .1) 80%,
      rgba(0, 0, 0, 0.9) 100%,
      transparent 100%        /* normal (transparente) no fundo */
    ),    
     url(Imagens/7.jpg);
    border-bottom: 10px solid rgb(72, 156, 149);
    background-size: cover; 
    height: 700px;
}

/* ================ Logo NETFLIX ================== */

.logo {
    display: inline-block;
    width: 150px;
    height: 100px;
    /* border: 5px solid red; */
    margin-left: 100px;
}

.logo img {
    display: inline-block;
    width: 130px;
    height: 100px;
    margin-left: 8px;
}

/* =============== Botao Idiomas =================== */

.menu-idiomas {
    display: inline-block;
    border: 5px solid red;
    margin-left: 100px;
}

.botao-abrir {

}