body {
    margin : 0;
}
 /* ============== FUNDO ========================== */
header {    
  background-image: 
    linear-gradient(
    to bottom,              /* direção: de cima para baixo */
      rgba(0, 0, 0, 0.8) 1%,
      rgba(0, 0, 0, 0.7) 8%,
      rgba(0, 0, 0, .6) 80%,
      rgba(0, 0, 0, 0.9) 100%,
      transparent 100%        /* normal (transparente) no fundo */
    ),    
     url(Imagens/7.jpg);
    border-bottom: 10px solid rgb(34, 48, 47);
    background-size: cover; 
    height: 750px;
    display: block
}

/* =============== nav-principal ================== */

.nav-principal {
    display: flex;
    align-items: flex-start;           /* alinhamento vertical */
    justify-content: space-between; /* espaçamento horizontal */
    width: 100%;
    height: 165px;
    /* border: 5px solid red; */
    padding-top: 30px;
}

.menu-esquerda {
    display: inline-block;
    margin-top: 0px;
    /* border: 5px solid purple; */
}
.logo-Netflix img {
    display: inline-block;
    width: 80px;
    height: 30px;
    margin-left: 70px;
} 



.menu-direita {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-right: 80px;
    width: 180px;
    /* border: 5px solid orange; */
}

/* =============== menu idiomas =========== */

.menu-idiomas.ativo .caixa-opcoes {  /* mostra a caixa de opçoes que foi camuflada, quando clicarem no botao idiomas  */
    display: block;
    
    /* border: 1px solid white; */
}

.botao-abrir {
    background-color: black;
    color: azure;
    display: flex;
    justify-content:space-between;
    align-items: center; 
    padding-left: 15px;
    width: 100px;
    height: 25px;
    border: 1px solid white
}

.arrow {             /* setinha do botao */
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;    
    padding: 3px;
    transform: rotate(45deg);
    transition: transform 0.3s;
}

.caixa-opcoes {    /* "camufla" a janela com as opçoes */
    display: none;    
    /* border: 5px solid blue; */
}

.caixa-opcoes button {  /* configura os botoes de opçoes */
    display: flex;
    width: 100px;
    height: 20px;
    padding-left: 15px;
    color: white;
    background-color: rgb(44, 121, 95);
    border: none;
}

.caixa-opcoes button:hover {  /* pinta o botao quando passa o mouse */
    background-color: blueviolet;
}

.entrar a{
    text-decoration: none;
    color: white;
    background-color: red;
    display: flex;
    align-items: center; /* alinhamento vertical */
    justify-content: center; /* alinhamento horizontal */
    width: 60px;
    height: 25px;
    border-radius: 5px;
}




/* ============= texto ===================== */
header h1 {
    font-family: 'Arial', Courier, monospace;
    text-align: center;
    color: white;
    line-height: 15px;
    font-size: 30px;
}

header p {
    font-family: 'Arial', Courier, monospace;
    font-size: 15px;
    text-align: center;
    color: white;
    margin-top: 25px;
}

header h2 {
    font-family: 'Arial', Courier, monospace;
    font-size: 20px;
    text-align: center;
    color: white;
}





/* ============================================= */

.caixa-email {
    display: flex;
    justify-content: center; /* alinhamento horizontal */
    color: white;
    /* border: 5px solid blue; */
    margin-top: 45px;
}

.caixa-email input {
    height: 35px;
    width: 200px;
    border-radius: 5px;
    padding-left: 10px;
}

.caixa-email a {
    display: flex;
    /* align-items: center; alinhamento vertical */
    justify-content: center; /* alinhamento horizontal */
    margin-left: 10px;
    width: 100px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}


/* ============== secao one ================= */

#one1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 380px;
    padding-top: 0;
    /* border: 2px solid green; */
    border-bottom: 10px solid rgb(34, 48, 47);
}

.primeiro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 320px;
    height: 280px;
    /* border: 1px solid white; */
}

.primeiro h1 {
    display: inline-block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.primeiro p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/* ============== secao one ================= */

#two {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terceiro h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.terceiro p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.quatro img {
    display: block;
    width: 50px;
}