body {
    margin : 0;
}

header {
    background-image: url(Imagens/7.jpg);
    border-bottom: 10px solid rgb(72, 156, 149);
    background-size: cover; 
    height: 700px;  
}



















.logo {
    display: block;
    width: 150px;
    height: 100px;
    border: 5px solid red;
}

.logo img {
    display: block;
    width: 130px;
    height: 100px;
}
